/* Price Plan */
#price {
    padding: 70px 0;
    background: #efefef;
}

.single-price {
    margin: 10px auto;
    display: inline;
    background-color: #fff;
    transition: .5s;    
    width: 100%;
    float: left;
}

.single-price:hover {
    box-shadow: 0 2px 20px #333;
}

.price-head {
    width: 100%;
    background-color: #ff5e13;
    float: left;
    display: inline;
    text-align: center;
    padding: 10px 5px;
}

.price-head h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    margin-bottom: 5px;
}

.price-head p {
    font-size: 25px;
    color: #ccc;
    line-height: 30px;
    font-weight: bold;
}

#price span {
    font-size: 15px;
}

.price-content {
    display: inline;
    width: 100%;
    float: left;
    padding: 0 15px;

}

.price-content ul li {
    border-bottom: 1px solid #efefef;
    /* padding: 0 15px; */
}

.price-content ul li:last-child {
    border: none;
}



.price-button {
    display: inline;
    float: left;
    padding: 10px 15px 30px;
    text-align: center;
    width: 100%;
}

.buy-button {
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: .5s;
}

.buy-button:hover {
    border: 1px solid #fff;
    background: #3f51b5;
}

#price a {
    text-decoration: none !important;
    color: #fff !important; 
}